*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 30px;
    font-family: sans-serif;
 background: #40E0D0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.mudi-text-box{
    box-shadow: 30px 10px 10px rgba(0, 0, 0, 0.2);
    height: 300px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: black;
    margin: 100px 0;
    border-radius: 10px;

}

.mad-text-box{
    box-shadow: 30px 10px 10px rgba(0, 0, 0, 0.2);
    height: 300px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #544a7d;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffd452, #544a7d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffd452, #544a7d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: black;
    margin: 100px 0;
    border-radius: 10px;

}
